	<md-card>
      	 <md-toolbar color='primary'>Home Component</md-toolbar>
         <md-card-content>
         <h4>Home Component -- Sites still to visit</h4>
         <ul>
         <li><a href="http://davidederosa.com/basic-blockchain-programming/">Block-Chain tutorial</a></li>
       	 <li><a href="https://gist.github.com/staltz/868e7e9bc2a7b8c1f754">intro into RXJS</a></li>
       	 <li><a href="https://www.sitepoint.com/managing-state-angular-2-ngrx/">more RXjs</a></li>
       	 <li><a href="https://www.youtube.com/watch?v=l89acmnGMSc">Angular2 security</a></li>
         <li><a href="https://coryrylan.com/blog/angular-observable-data-services>">stream data</a></li>
         <li><a href="https://medium.com/@lwojciechowski/websockets-with-angular2-and-rxjs-8b6c5be02fac#.6z9e2ldh8">websockets</a></li>
         <li><a href="http://www.zhijun.co.uk/blog/setup-git-and-jenkins-under-ubuntu">git & jenkins --bare repository</a></li>
         <li><a href="http://stackoverflow.com/questions/17200219/rxjs-tutorial-that-doesnt-assume-familiarity-with-reactive-programming-concepts">RXJS asset</a></li> 
         </ul>
       	<button md-raised-button type="button" routerLink="404error">404 ERROR</button>
         </md-card-content>
     </md-card>    
